.pdf {
    padding: .50rem;
    display: flex;
}

.pdf__texto {
    color: rgb(90, 90, 90);
    text-align: justify;
    padding: .50rem;
}

.pdf__enlace {
    color: #25392A;
}

@media screen and (min-width: 768px) {
    .pdf {        
        padding: 3rem;
    }
    .pdf__texto {
        text-align: justify;
        font-size: 200%;
        padding: 2rem;
    }
}

@media screen and (min-width: 922px) {
    .pdf {
        padding: 1rem;
    }

    .pdf__texto {
        text-align: justify;
        font-size: 100%;
        padding: 1rem;
    }
}